html, body {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 100px;
}

.logo h1 {
    color: #54BD95;
    font-weight: 600;
    font-size: 50px;
    margin: 0;
}

.nav ul {
    list-style: none;
    display: flex;
    gap: 40px;
    margin: 0;
    padding: 0;
}

.nav a {
    text-decoration: none;
    color: black;
    font-size: 18px;
    font-weight: 500;
}
